body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: #494d5f;
}

.title {
  grid-area: header;
  text-align: center;
}
#break-label {
  text-align: center;
  grid-area: break;
}
#session-label {
  text-align: center;
  grid-area: session;
}
.timer {
  grid-area: footer;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 150px 50px 50px 150px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "break break session session"
    "footer footer footer footer";
  border: 3px solid #a28089;
  border-radius: 5px;
}
